
body{
    background-color: cornsilk;
}
.contenedor{
    padding: 10rem;
    display: inline-block;
    margin-left: 20%;
}
.contenedor button{
    padding: .8rem;
    border-radius: 10%;
    background-color: azure;
    cursor: pointer;
}